html, body {
    /*background: #EEE url(/img/bg1.jpg) no-repeat;*/
    /*background-size: cover;*/
    height: 100%;
    font-family: 'Roboto', sans-serif;

}

.main {
    display: block;
    width: 100%;
    height: 100%;
    /*
        background: url (/img/jul.png) 100% 50% no-repeat;
        background-size: contain;
    */
}

/*СОЦ.СЕТИ*/

.socials-sb {
    position: fixed;
    right: 0;
    width: 46px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: #FFF;
    z-index: 900;
}

.socials-sb ul {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
    width: 100%;
    height: 322px;
}

.socials-sb ul li {
    display: block;
    width: 100%;
    height: 46px;
    background: #FFF;
}

.socials-sb ul li a {
    width: 100%;
    height: 100%;
    display: block;
    background: #FFF;
    text-align: center;
    line-height: 43px;
    transition: 0.3s;
}

.vk:hover .fil0 {
    fill: #FFF;
}

.vk:hover {
    background: #4D75A4;
}

.fb:hover .fil0 {
    fill: #FFF;
}

.fb:hover {
    background: #3C5A98;
}

.inst:hover .fil0 {
    fill: #FFF;
}

.inst:hover {
    background: #9E7144;
}

.tw:hover .fil0 {
    fill: #FFF;
}

.tw:hover {
    background: #00ACED;
}

.mail:hover .fil0 {
    fill: #FFF;
}

.mail:hover {
    background: #226EB7;
}

.yt:hover .fil0 {
    fill: #FFF;
}

.yt:hover {
    background: #D63C35;
}

.skype:hover .fil0 {
    fill: #FFF;
}

.skype:hover {
    background: #00AFF0;
}

/*МЕНЮ*/

.menu-sb {
    position: fixed;
    left: 0;
    width: 115px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: none;
    z-index: 900;
}

.menu-sb ul {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
    width: 100%;
    height: 470px;
}

.menu-sb ul li {
    display: block;
    width: 100%;
    height: 94px;
    background: #FFF;
    border-bottom: 1px solid #E6E6E6;
}

.menu-sb ul li a {
    width: 100%;
    height: 100%;
    display: block;
    background: #FFF;
    position: relative;
    text-align: center;
    white-space: nowrap;
    transition: 0.3s;
    font-weight: 300;
    line-height: normal;
    color: #333333;
}

.menu-sb ul li a:hover {
    background: #E6E6E6;
}

.menu-sb ul li .menu_logo_a {
    background: #E6E6E6;
}

.menu-sb ul li a .menu_logo_div {
    font-weight: 500;
    font-size: 11px;
}

.menu-sb ul li a img {
    display: block;
    margin: auto;
    margin-bottom: 8px;
}

.menu-sb ul li a .menu_logo_div img {
    margin-bottom: 0;
}

.centered-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 64px;
}

/*------------------*/
/*СТРАНИЦА JULIAN RADIO*/
/*------------------*/

.bg_julian {
    background: url(/img/jul.png) 100% 50% no-repeat;
    background-size: contain;
    height: 100%;
}

#julianradio_page .section {
    min-width: 1200px;
}

/*ОСНОВНАЯ ИНФ.*/


/*НОВОСТИ ЮЛИАН*/

.julian_news {
    margin-top: 55px;
}

ul.notices {
    position: relative;
    opacity: 0.8;
    margin: 0 auto;
    /*padding: 0;*/
    list-style: none;
    max-width: 600px;
    white-space: nowrap;
    background: #fff;
    overflow: hidden;
    padding: 0 10px;
    border-radius: 20px;
    box-shadow: inset 22px 0 40px -15px #fff;
}

ul.notices:before,
ul.notices:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    border-radius: 5px;
    z-index: 1;
}

ul.notices:before {
    left: 8px;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.0) 100%);
}

ul.notices:after {
    right: 8px;
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.0) 100%);
    background: -o-linear-gradient(right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.0) 100%);
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.0) 100%);
}

ul.notices li p {
    display: inline-block;
}

ul.notices li:last-child {
    margin-bottom: 0px;
}

ul.notices li h3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding: 0 15px;
    padding-bottom: 10px;
}

ul.notices li p {
    margin: 0;
    padding: 0;
    color: #666666;
    font-size: 18px;
    line-height: 37px;
    font-weight: 300;
}

/*НОВОСТИ ВСЕ*/

.all_news ul.notices li p {
    font-size: 15px;
}

/*ЦЕНТРАЛЬНЫЙ ГРИД*/

.main-player {
    margin: 65px 0;
}

/*1 li*/

.order_speed {
    position: relative;
    top: 38px;
    margin-right: 50px;
}

/*кнопка*/

.ord_button {
    border-radius: 13px;
    background: #cf0000;
    color: #FFFFFF;
    text-shadow: none;
    height: 27px;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 15.5px;
    font-weight: 300;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

/*форма заказа песни*/

/*
#song {
    margin-right: 0px;	
    display: block;
    text-align: center;
    margin-top: 20px;
}
*/

.content-order span,
#song span {
    margin-left: 5px;
}

.content-order a,
#song a {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

#song .uk-modal-dialog a {
    color: inherit;
}

.content-order span:before,
#song span:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('/img/phone-3.svg') no-repeat center;
    vertical-align: middle;
}

#song p {

    font-size: 15px;
    line-height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}

/*
#song .my-button{
    vertical-align: middle;
    box-shadow: 2px 2px 7px #fff;
    outline: none;
}
#song .my-button:hover{
    background: #fff;
    color: #000;
}
*/
#song form {
    text-align: left;
    padding: 0 87px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
}

#song form label {
    display: block;
    position: relative;
}

#song form label:before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 20px;
    float: left;
    background: url('/img/star.svg') no-repeat center;
    position: absolute;
    right: 100%;
    top: 100%;
}

#song form label.star-none:before {
    display: none;
}

#song form.uk-form button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
}

#song form.uk-form button:hover {
    box-shadow: 2px 2px 10px #333;
}

#song form.uk-form input[type=text],
#song form.uk-form textarea {
    border: 1px solid #3277BC;
    border-radius: 4px;
    width: 100%;
}

/*скорость старая*/

.order_speed ul.speed li {
    list-style: none;
    display: inline-block;
    margin: 5px;
}

.order_speed ul.speed li .ord_button {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    font-weight: 300;
    background: #FFFFFF;
    text-decoration: none;
    display: block;
    color: #000;
    width: 60px;
    line-height: 25px;
    text-align: center;
}

/*2 li*/

img.play_img {
    max-height: 320px;
}

/*плеер*/

/*.main-player .buffering {*/
/*display: none;*/
/*color: #fff;*/
/*font-size: 12px;*/
/*text-align: center;*/
/*}*/
/*.main-player .jp-state-seeking .buffering {*/
/*display: inline-block;*/
/*vertical-align: top;*/
/*}*/
/*.main-player .loading {*/
/*display: inline-block;*/
/*vertical-align: top;*/
/*width: 10px;*/
/*height: 25px;*/
/*background: url(/jplayer/loading.gif) no-repeat center;*/
/*background-size: contain;*/
/*margin-right: 5px;*/
/*margin-left: 5px;*/
/*}*/

.main-player .controls {
    position: relative;
    min-height: 320px;
}

.main-player .jp-gui .jp-mute {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.main-player .jp-gui .jp-volume-bar {
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 5px;
    border: 1px solid #333333;
    border-radius: 3px;
}

.main-player .jp-gui .volume-bar .jp-volume-bar-value {
    background: #333333;
    height: 5px;
}

.main-player .jp-play .pause {
    display: none;
}

.main-player .jp-state-playing .jp-play .play {
    display: none;
}

.main-player .jp-state-playing img.pause {
    display: inline-block;
}

.main-player .jp-mute .off {
    display: none;
}

.main-player .jp-state-muted .on {
    display: none;
}

.main-player .jp-state-muted .off {
    display: inline-block;
}

/*div.uk-overlay-panel.uk-vertical-align.player-button {*/
/**/
/*}*/

.main-player .player-button {
    padding: 0;
    position: relative;
    top: 55px;
}

.main-player button.big-button {
    /*position: absolute;*/
    /*top: -275px;*/
    /*right: 0px;*/
    /*left: 70px;*/
    bottom: 0px;
    width: 210px;
    height: 210px;
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

.main-player .play,
.main-player .pause {
    height: 200px;
    width: 200px;
}

/*анимация  1*/

/*.round1, .round1:before, .round1:after{*/
/*border: 7px solid transparent;*/
/*border-radius: 50%;*/
/*}*/

/*.round1{*/
/*width: 320px;*/
/*height: 320px;*/
/*margin: 0 auto;*/
/*position: relative;*/
/*!*border-top-color: #e6e6e6;*!*/
/*border-right-color: #e6e6e6;*/
/*border-bottom-color: #e6e6e6;*/
/*border-left-color: #e6e6e6;*/
/*!*-webkit-animation: spin 10s infinite linear;*!*/
/*!*animation: spin 10s infinite linear;*!*/
/*}*/

/*.jp-state-seeking .round1{*/
/*-webkit-animation: spin 10s infinite linear;*/
/*animation: spin 10s infinite linear;*/
/*}*/

/*.round1:before, .round1:after {*/
/*content: '';*/
/*position: absolute;*/
/*}*/

/*.round1:before {*/
/*top: 10px;*/
/*bottom: 10px;*/
/*left: 10px;*/
/*right: 10px;*/
/*border-top-color: #cf0000;*/
/*border-right-color: #cf0000;*/
/*border-bottom-color: #cf0000;*/
/*!*border-left-color: #cf0000;*!*/
/*!*-webkit-animation: spin 5s infinite linear;*!*/
/*!*animation: spin 5s infinite linear;*!*/
/*}*/

/*.jp-state-seeking .round1:before {*/
/*-webkit-animation: spin 5s infinite linear;*/
/*animation: spin 5s infinite linear;*/
/*}*/

/*.round1:after {*/
/*top: 30px;*/
/*bottom: 30px;*/
/*left: 30px;*/
/*right: 30px;*/
/*border-top-color: #6699ff;*/
/*border-right-color: #6699ff;*/
/*!*border-bottom-color: #6699ff;*!*/
/*border-left-color: #6699ff;*/
/*!*-webkit-animation: spin 1s infinite linear;*!*/
/*!*animation: spin 1s infinite linear;*!*/
/*}*/

/*.jp-state-seeking .round1:after {*/
/*-webkit-animation: spin 1s infinite linear;*/
/*animation: spin 1s infinite linear;*/
/*}*/

/*@-webkit-keyframes spin {*/
/*from {*/
/*-webkit-transform: rotate(0deg);*/
/*-ms-transform: rotate(0deg);*/
/*transform: rotate(0deg);*/
/*}*/
/*to {*/
/*-webkit-transform: rotate(360deg);*/
/*-ms-transform: rotate(360deg);*/
/*transform: rotate(360deg);*/
/*}*/
/*}*/

/*@keyframes spin {*/
/*from {*/
/*-webkit-transform: rotate(0deg);*/
/*-ms-transform: rotate(0deg);*/
/*transform: rotate(0deg);*/
/*}*/
/*to {*/
/*-webkit-transform: rotate(360deg);*/
/*-ms-transform: rotate(360deg);*/
/*transform: rotate(360deg);*/
/*}*/
/*}*/

/*анимация  2*/

/*.cssload-container{*/
/*position:relative;*/
/*}*/

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
    position: absolute;
    top: 50%;
    left: 50%;
    /*border: 7px solid rgb(204,204,204);*/
    /*border: 7px solid rgb(185, 195, 196);*/
    border: 7px solid transparent;

    border-radius: 5869px;
    -o-border-radius: 5869px;
    -ms-border-radius: 5869px;
    -webkit-border-radius: 5869px;
    -moz-border-radius: 5869px;
}

.cssload-whirlpool {
    /*border-top-color: #cf0000;*/
    border-right-color: #cf0000;
    border-bottom-color: #cf0000;
    border-left-color: #cf0000;

}

.cssload-whirlpool::before {
    /*border-top-color: #6699ff;*/
    border-right-color: #6699ff;
    border-bottom-color: #6699ff;
    border-left-color: #6699ff;
    -webkit-transform: rotate(15deg); /* Chrome y Safari */
    -moz-transform: rotate(15deg); /* Firefox */
    -o-transform: rotate(15deg); /* Opera */
}

.cssload-whirlpool::after {
    /*border-top-color: #e6e6e6;*/
    border-right-color: #e6e6e6;
    border-bottom-color: #e6e6e6;
    border-left-color: #e6e6e6;
    -webkit-transform: rotate(-15deg); /* Chrome y Safari */
    -moz-transform: rotate(-15deg); /* Firefox */
    -o-transform: rotate(-15deg); /* Opera */
}

.cssload-whirlpool {
    /*margin: -147px 0 0 -147px;*/
    /*height: 294px;*/
    /*width: 294px;*/

    margin: -140px 0 0 -140px;
    height: 266px;
    width: 266px;
}

.jp-state-seeking .cssload-whirlpool {
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
    /*content: "";*/
    /*margin: -135px 0 0 -135px;*/
    /*height: 259px;*/
    /*width: 259px;*/
    content: "";
    margin: -120px 0 0 -120px;
    height: 226px;
    width: 226px;
}

.jp-state-seeking .cssload-whirlpool::before {
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
    /*content: "";*/
    /*margin: -170px 0 0 -170px;*/
    /*height: 329px;*/
    /*width: 329px;*/
    content: "";
    margin: -160px 0 0 -160px;
    height: 306px;
    width: 306px;
}

.jp-state-seeking .cssload-whirlpool::after {
    /*content: "";*/
    /*margin: -170px 0 0 -170px;*/
    /*height: 329px;*/
    /*width: 329px;*/
    animation: cssload-rotate 2300ms linear infinite;
    -o-animation: cssload-rotate 2300ms linear infinite;
    -ms-animation: cssload-rotate 2300ms linear infinite;
    -webkit-animation: cssload-rotate 2300ms linear infinite;
    -moz-animation: cssload-rotate 2300ms linear infinite;
}

@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}

/*3 li*/

/*громкость старая*/

/*.main-content .content .player-line .volume{*/
/*float:right;*/
/*line-height: 24px;*/
/*margin-right: 15px;*/
/*}*/
/*#volume{*/
/*display: inline-block;*/
/*position: relative;*/
/*width: 100px;*/
/*margin-left: 10px;*/
/*height: 5px;*/
/*border: 1px solid #fff;*/
/*vertical-align: middle;*/
/*cursor: pointer;*/
/*border-radius: 3px;*/
/*}*/
/*#volume .ui-slider-range{*/
/*position: absolute;*/
/*z-index: 1;*/
/*display: block;*/
/*border: 0;*/
/*background: #fff;*/
/*top: 0;*/
/*bottom: 0;*/
/*left: 0;*/
/*}*/
/*#volume .ui-slider-handle{*/
/*display: none;*/
/*}*/

/*ОРГАНИЗАЦИЯ КОНЦЕНРТОВ ЮЛИАНА*/

.conc_org {
    margin-top: 20px;
    /*    position: fixed;*/
}

.conc_org a {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 14px;
    text-decoration: none;
}

.conc_org span:before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 18px;
    background: url('/img/phone.svg') no-repeat center;
    background-size: contain;
    vertical-align: middle;
}

/*------------------*/
/*ОБЩИЕ ДЛЯ СТРАНИЦ*/
/*------------------*/

.section {
    /*padding-top: 70px;*/
    /*padding: 70px 0 0 0;*/
    margin: 0 auto;
    min-width: 900px;
}

.cont {
    height: 100%;
    /*width: 100%;*/
}

.my_panel {
    box-shadow: 0px 3px 5px 0.00px rgba(0, 0, 0, 0.24);
    background-color: #eeeeee;
    padding: 0;
}

.h3_section {
    /*line-height: normal;*/
    text-transform: uppercase;
    /*padding: 0;*/
    color: #212121;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 37px;
}

.bgimage {
    background: #EEE url(/img/bg1.jpg) no-repeat;
    background-size: cover;
}

.dotnav_pos {
    position: relative;
    left: 30px;
    top: 2px;
}

/*------------------*/
/*СТРАНИЦА НОВОСТИ*/
/*------------------*/

/*.contacts_full {*/
/*background-color: #f5f5f5;*/
/*}*/
/*.contacts {*/
/*padding-top: 80px;*/
/*padding-bottom: 80px;*/
/*}*/

/*.contacts h3 {*/
/*text-transform: uppercase;*/
/*color: #212121;*/
/*font: 400 27.78px Roboto;*/
/*margin-bottom: 32px;*/
/*}*/

/*.con_panel {*/
/*box-shadow: 0px 3px 5px 0.00px rgba(0, 0, 0, 0.24);*/
/*background-color: #eeeeee;*/
/*padding: 0;*/
/*}*/

/*.contacts .con_panel ul li {*/
/*padding: 0;*/
/*}*/

/*.con_text {*/
/*padding: 35px 5px 35px 35px;*/
/*}*/

/*.con_text h5{*/
/*color: #616161;*/
/*font: 500 22.22px Roboto;*/
/*}*/

/*.con_text p{*/
/*color: #616161;*/
/*font: 400 19.44px / 61.111px Roboto;*/
/*margin: 0;*/
/*}*/

/*.con_text p a{*/
/*color: #616161;*/
/*text-decoration: none;*/
/*}*/
/*.con_text p a:hover{*/
/*color: #ff9700;*/
/*}*/
/*.con_text img{*/
/*margin-right: 25px;*/
/*}*/

/*.con_text .h5_2 {*/
/*margin-top: 52px;*/
/*}*/

/*iframe {*/
/*min-height: 515px;*/
/*}*/

/*!**!*/
/*!*СhkghkghkhgkvhjmО*!*/
/*!**!*/

/*.ps_h3 {*/
/*line-height: normal;*/
/*text-transform: uppercase;*/
/*!*padding: 0;*!*/
/*color: #212121;*/
/*font-size: 27px;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/
/*.partnership .agree_text {*/
/*padding: 30px;*/
/*font: 400 16px/26px Roboto;*/
/*}*/

/*.partnership .agree_logo{*/
/*background: url(/images/agree.jpg) center;*/
/*background-size: cover;*/
/*content: '';*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/

/*.news_page_cont {*/
/*background: #e6e6e6;*/
/*}*/

/*.news_page {*/
/*background: #e6e6e6;*/
/*}*/

.news_panel {
    /*height: 470px;*/
    background: #FFFFFF;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}

.greatest_news {
    background: url(/img/julian25.jpg) center no-repeat;
    background-size: contain;
    content: '';
    /*width: 100%;*/
    /*height: 100%;*/
    height: 450px;
}

/*-------------------*/
/*СТРАНИЦА АУДИО*/
/*-------------------*/

.audio_panel {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;
}

/*.audio_page_cont {*/
/*background: #cdd1d2;*/
/*}*/

/*.audio_page {*/
/*background: #cdd1d2;*/
/*}*/

/*ЭФФЕКТ ДЛЯ ГРИДА АЛЬБОМОВ*/

.audio_page_cont figcaption, .audio_page_cont figcaption:after, .audio_page_cont figcaption:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

.mt {
    margin-bottom: 30px;
}

.effect-apollo, .effect-apollo h2 {
    font-family: 'Raleway', Arial, sans-serif;
}

.effect-apollo p {
    font-weight: 400;
}

.effect-apollo p span {
    font-size: 15px;
    font-weight: 800;
}

.effect-apollo {
    box-shadow: 0px 3px 3px 0.00px rgba(0, 0, 0, 0.24);
}

/*gлеер модульное окно*/

/*.audio_panel iframe .heroLogo {*/
    /*display: none;*/
/*}*/

/*.grid figure figcaption .uk-close {*/
    /*color: #333333!important;*/
    /*position: relative;*/
    /*top: 25px;*/
    /*right: 25px;*/
/*}*/

/*.uk-modal-dialog>.uk-close:first-child {*/
    /*margin: -20px 0px 0 0;*/
/*}*/


/*-------------------*/
/*СТРАНИЦА ВИДЕО*/
/*-------------------*/


.video_panel {
    max-width: 950px;
    margin: 0 auto;
}

#video-filter li {
    cursor: pointer;
}

.video_slidenav {
    min-height: 445px;
    max-width: 900px;
}

.mtr {
    margin-top: 10px;
    /*margin-right: 10px;*/
}

.video_slidenav figcaption {
    text-align: right;
}

.video_slidenav figcaption h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.video_slidenav figcaption p {
    font-size: 12px;
    line-height: normal;
}

.video_slidenav .uk-grid-width-1-3 li {
    width: 33.333%;
}

/*--------*/

#video-filter a, #photo-filter a {
    text-transform: uppercase;
    font-size: 16px;
    /*font-weight: 500;*/
}

/*-------------------*/
/*СТРАНИЦА ФОТО*/
/*-------------------*/

.photo_panel {
    max-width: 950px;
    margin: 0 auto;
}

#photo-filter li {
    cursor: pointer;
}

.photo_slidenav {
    min-height: 445px;
    max-width: 900px;
}

.mtr {
    margin-top: 10px;
    /*margin-right: 10px;*/
}

.photo_slidenav figcaption {
    /*text-align: left;*/
}

.photo_slidenav figcaption h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.photo_slidenav figcaption p {
    font-size: 12px;
    line-height: normal;
}

/*-------------------*/
/*СТРАНИЦА БИОГРАФИЯ*/
/*-------------------*/

.biography_panel {
    max-width: 900px;
    /*    max-height: 450px;*/
    margin: 30px auto 0 auto;
}

.biography_text {
    text-align: justify;
    font-size: 16px !important;
    line-height: 24px;
    /*    padding-right: 10px;*/
    /*    padding: 20px;*/
    padding: 10px 20px 10px 20px;
    min-height: 430px;
    background-color: #ffffff;
}

.biography_photo {
    background: url(/img/julian/purp.jpg) center no-repeat;
    background-size: cover;
    content: '';
    /*width: 100%;*/
    /*    max-height: 450px;*/
    height: 450px;
}

/*-------------------*/
/*СТРАНИЦА ФОРУМ*/
/*-------------------*/

/*-------------------*/
/*СТРАНИЦА КОНТАКТЫ*/
/*-------------------*/

.contact_panel {
    max-width: 900px;
    /*    max-height: 450px;*/
    margin: 30px auto 0 auto;

}

.contact_panel h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    /*margin-bottom: 10px;*/
}

.contact_panel h5.que {
    margin-bottom: 70px;
}



.contact_text {
    /*text-align: justify;*/
    /*font-size: 16px !important;*/
    /*line-height: 24px;*/
    /*    padding-right: 10px;*/
    /*    padding: 20px;*/
    padding: 30px 20px 30px 20px;
    /*height: 390px;*/
    /*background-color: #ffffff;*/
    /*margin-top: 40px;*/
}

.cont_bg1 {
    background: url(/img/julian/3.jpg) center no-repeat;
    background-size: cover;
    content: '';
    /*width: 100%;*/
    /*    max-height: 450px;*/
    height: 450px;
}

.cont_bg2 {
    background-color: rgba(255,255,255,0.7);
    content: '';
    height: 450px;
}

.cont_conc_org {
    /*margin-top: 30px;*/
    /*    position: fixed;*/
    margin-bottom: 40px;
}
.cont_conc_org span {
    line-height:30px;
    font-size:25px;
}

.cont_conc_org a {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 25px;
    line-height: 30px;
    text-decoration: none;
    font-weight: 500;
}

.cont_conc_org span:before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 30px;
    background: url('/img/phone.svg') no-repeat center;
    background-size: contain;
    vertical-align: middle;
}



.contact_mail {
    padding: 30px 20px 30px 20px;
    height: 390px;
    background-color: #e6e6e6;
}

/*-------*/
/*форма*/
/*------*/


.contact_mail>form>ul {
    padding: 0;
    /*margin-left: 40px;*/
}

.contact_mail>form>ul>li {
    position: relative;
    list-style: none;
    display: inline-block;
    width: 100%;
}

.contact_mail>form>ul>li:last-child {
    margin-top: 30px;
}

/*.contact_mail>form>ul>li>i {*/
    /*color: #bdbdbd;*/
    /*position: absolute;*/
    /*width: 30px;*/
    /*text-align: center;*/
    /*font-size: 150%;*/
    /*left: -45px;*/
    /*top: 50%;*/
/*}*/

.input-footer {
    position: relative;
    height: 72px;
    width: 100%;

}

.input-footer::after {
    background: #69f;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.input-footer::after, .input-footer::before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #bdbdbd;
}

.dev-footer-input {
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    padding: 8px 0;
    line-height: 20px;
    font-size: 16px;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    outline: none;
    color: #212121;
    margin-bottom: 10px;
    margin-top: 5px;
    resize: none;
}

.dev-footer-label {
    position: relative;
    text-align: left;
    margin: 0;
    color: #212121;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    display: block;
    transform: translateY(36px);

}
.dev-footer-label-correct{
    position: relative;
    text-align: left;
    margin: 0;
    color: #212121;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    display: block;
    transform: translateY(0px);
}

.has-label .dev-footer-label {
    transform: translateY(10px) scale(1);
    font-size: 12px;
    color: #69f;
    transition: transform 0.5s;
}

.has-label.input-footer::after {
    background: #69f;
    transform: scaleX(1);
}

.is-focused.input-footer::after {
    background: #69f;
    transform: scaleX(1);
    transition: transform 0.5s;
}

.is-focused .dev-footer-label {
    transform: translateY(10px) scale(1);
    font-size: 12px;
    color: #69f;
}

.des-icon-is-focus {
    color: #69f;
}

.dev-footer-img-correct {
    margin: auto 0;
    padding: 20px 16px 0 0;
    color: #bdbdbd;
}

.dev-footer-textarea-correct {
    display: block;
    height: 140px;
    /*padding-top: 25px;
    margin-right: 22px;*/
}

.des-correct-slider-position {
    padding-top: 80px;
}

.des-correct-sleder-main-container {
    position: absolute;
    top: -42px;
}

.des-footer-correct {
    /*    padding-left: 0;*/
}

.des-footer-img-crutch {
    /*padding-top: 0;*/
    top: 0!important;
}

.des-textarea-active-footer {
    border-bottom-color: #69f;
    outline: none;
    height: 78px;
    margin-top: 17px;
    /*padding-bottom: 20px;*/
    line-height:22px;
    padding: 0;
}

.des-ico-active-footer {
    color: #69f!important;
}

.dev-footer-textarea.dev-footer-input {
    height: 90px;
}

.contact_mail form ul {
    margin: 0 0 15px 0;
}

